<div class="comment">
  <strong><%= p1_comment.commenter %></strong>
  <em>on <%= p1_comment.created_at.strftime('%Y-%m-%d') %></em>
  <%= simple_format p1_comment.body %>
  <%= link_to "삭제", [p1_comment.p1_post, p1_comment], :confirm => 'Are you sure?', :method => :delete %>
</div>
